In [1]:
# comparison operators
''' == Equal
    != not Equal
    >  greater than
    <  less than
    >= greater than  or equal to
    <= less than or equal to
    '''

' == Equal\n    != not Equal\n    >  greater than\n    <  less than\n    >= greater than  or equal to\n    <= less than or equal to\n    '

In [2]:
10 == 50

False

In [3]:
10 != 50

True

In [4]:
x = 'vanilla'
y = 'chocolate'
x != y

True

In [5]:
10 >= 50

False

In [6]:
10 <= 50

True

In [7]:
10 < 50

True

In [8]:
# Logical operators 
""" and = Returns ture if both statement are true
     or = Returns true if one of the statement is ture
     not = Reverse the result,Returns false if the result is true"""

' and = Returns ture if both statement are true\n     or = Returns true if one of the statement is ture\n     not = Reverse the result,Returns false if the result is true'

In [10]:
(10 < 50) and (20 < 40)

True

In [12]:
(10 > 50) or (20 < 40)

True

In [13]:
('vanilla' > 'chocolate') or (20 < 40)

True

In [15]:
not(20 < 40)

False

In [ ]:
# Membership operators
"""
    in = Returns true if q sequence with the specifified value is present in the object
    not in = returns true if a sequence with the specifred value is not present in the object"""

In [16]:
ice_cream = 'i love chocolate ice cream'
'love' in ice_cream

True

In [ ]:
scoops =[1,2,3